@model System.Data.DataTable
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<script>window.history.forward()</script>

<h1>Propiedades</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p style="height:5px">id</p>
            </th>
            <th>
                <p style="height:5px">Area</p>
            </th>
            <th>
                <p style="height:5px">Valor Fiscal</p>
            </th>
            <th>
                <p style="height:5px">Fecha registro</p>
            </th>
            <th>
                <p style="height:5px">Lecutras</p>
            </th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < Model.Rows.Count; i++)
        {
            if (Model.Rows[i][0].ToString() != "0")
            {
                int id = (int)Model.Rows[i][0];
                <tr>
                    <td>
                        <p style="height:5px">@Model.Rows[i][0].ToString()</p>
                    </td>
                    <td>
                        <p style="height:5px">@Model.Rows[i][1].ToString()</p>
                    </td>
                    <td>
                        <p style="height:5px">@Model.Rows[i][2].ToString()</p>
                    </td>
                    <td>
                        <p style="height:5px">@Model.Rows[i][3].ToString()</p>
                    </td>
                    <td>
                        <a asp-action="EditPropiedad" asp-route-id="@id">Edit</a> |
                        <a asp-action="DetailsPropiedad" asp-route-id="@id">Details</a> |
                        <a asp-action="DeletePropiedad" asp-route-id="@id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>